<body>

    <h2>Own News</h2>
    
    <table>
      <tr>
        <th class="number">№</th>     
        <th class="title">Title</th>
        <th class="desc">Description</th>
        <th class="actions">Actions</th>
      </tr>
      <tr *ngFor="let item of news; let i = index">
        <td class="number">{{i + 1}}</td>
        <td class="title" >{{item.title}}</td>
        <td class="desc">{{item.desc}}</td>
        <td class="actions">
            <button class="btnEdit" [id]="item.id" (click)="ViewEditNews(item.id)">Edit</button>
            <button class="btnDelete" [id]="item.id" (click)="deleteNews(item.id)">Delete</button>
        </td>
      </tr>
    </table>

</body>
