.create-news-inputs{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    gap:10px
}

.create-news-inputs label {
    padding-top: 10px;
    font-weight: bold;
    color: green;
}

.submitbtn{
    width: 150px;
    padding: 10px;
    background-color: green;
    color:white;
    margin: 0 auto;
    border-radius: 20px;
}

.create-news-inputs input {
    height: 30px;
    border: 2px solid black;
}

.create-news-inputs textarea {
    height: 80px;
    border: 2px solid black;
}


.messageSuccess{
    color:green;
    font-size: 16px;
    margin-left: 50px;
}

form div h1{
    display:inline;
}