app-root{
    display: block;
    width: 80%;
    min-height: 100vh;
    margin:0;
    padding: 0;
    margin: 0 auto;
    background-color: ghostwhite;
    border-radius: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
