main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

main section article {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    flex: 20%;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(50, 168, 82, 0.1);
    border-radius: 50px 100px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

main section article div{
   width:50%;
   margin-left: 50px;
   font-size: 12px;
}

main section article div div{
    color:grey;
    font-size: 10px;
 }

 main section article img{
    
    margin-left: 50px;
 }

 main section p{
    
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

.read-later{
    margin-left: 20px;
    cursor: pointer;
    background-color: blue;
    color:white;
    padding: 10px;
    border-radius: 20px;
}

.read-all{
    margin-left: 20px;
    cursor: pointer;
    background-color: green;
    color:white;
    padding: 10px;
    border-radius: 20px;
}