<main>

    <h1>Published News</h1>
    <hr>

    <section>
        <article *ngFor="let item of news; let i = index">
            <img src="{{item.urlImage}}" alt="Girl in a jacket" width="100" height="110">
            <div>
                <h3> Title: {{item.title}}</h3>
                <p> <b>Description:</b> {{item.desc.length > 50 ? item.desc.substring(0, 50) + "..." : item.desc}}</p>
                <div>Author: {{item.author}}</div>
            </div>

            <a [routerLink]="['/']" class="read-all" [id]="item.id" (click)="ViewContentNews(item.id)">Read All Content</a>
            <!-- <a class="read-later" [id]="item.id" (click)="AddNews(item.id)">Read Later</a> -->
            <span [style.visibility]="(!authService.userData) ? 'hidden' : 'visible' " >Read Later</span>
            <label  [style.visibility]="(!authService.userData) ? 'hidden' : 'visible' " class="switch">
                <input [style.visibility]="(!authService.userData) ? 'hidden' : 'visible' " type="checkbox" (click)="AddNews(item.id)" [checked]="item.isCheck">
                <span [style.visibility]="(!authService.userData) ? 'hidden' : 'visible' " class="slider round"></span>
            </label>                          
        </article>
    </section>

</main>