body section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

body section article{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 32.333333%;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(50, 168, 82,0.1);
    border-radius: 50px 100px;
}

body section p{
    
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}