body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 50%;
    margin: 0 auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  form div {
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
      display: block;
    background-color: black;
    color: white;
    padding: 16px 10px;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.8;
    border-radius: 3%;

  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }